.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.red{
   width: 200px;
   height: 200px;
   background-color: red;
   order: -1;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.yellow {
    width: 200px;
    height: 200px;
    background-color: yellow;
    display: flex;
   align-items: center;
   justify-content: center;
}
.blue{
    width: 200px;
    height: 200px;
    background-color: blue;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
}